@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Croissant+One&family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
:root {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(1, 9, 15, 0.98);
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  /* background-color: #424659; */
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background: rgba(0, 12, 29, 0.8);
  backdrop-filter: blur(20px);
}

.nav-title {
  font-size: 2.5rem;
  margin: 1rem;
  font-family: "kanit", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.nav-title span {
  color: #e2c7c4;
}

.nav-title img {
  display: block;
  width: 75px;
  height: 75px;
}

.nav-links {
  height: 100%;
  font-family: "Kanit", sans-serif;
  padding-right: 1.5rem;
  margin-right: 60px;
}

.nav-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  font-size: 1.2rem;
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  transition: 0.8s;
}

.nav-links li:hover a {
  color: #e2c7c4;
  transition: 0.3s;
  text-decoration: underline;
}

.toggle-button {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.home {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 15rem 5rem 10rem 5rem;
}

.home:hover {
  cursor: default;
}

.left-home {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-heading {
  font-size: 3.7rem;
  font-family: "catamaran", sans-serif;
  font-weight: bolder;
  color: #e2c7c4;
  text-shadow: #e2c7c4 0px 0px 39px;
}

.home-para {
  font-size: 1.5rem;
  font-family: "Kanit", sans-serif;
  color: white;
  margin: 0;
}

.right-home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
  gap: 1.5rem;
  background-color: rgba(45, 255, 196, 0.02);
  border-radius: 40px;
  padding: 2rem;
  -webkit-box-shadow: 0px 0px 45px 3px rgba(45, 255, 196, 0.04);
  -moz-box-shadow: 0px 0px 45px 3px rgba(45, 255, 196, 0.04);
  box-shadow: 0px 0px 45px 3px rgba(45, 255, 196, 0.04);
}

.right-home img {
  width: 140px;
  aspect-ratio: 16/10;
  object-fit: cover;
  /* border: 0.2rem solid #65fcf0; */
  flex-basis: calc(50% - 40px);
  border-radius: 5%;
  margin: 0 !important;
  box-shadow: 0px 0px 45px 3px rgba(45, 255, 196, 0.1);
  -webkit-box-shadow: 0px 0px 45px 3px rgba(45, 255, 196, 0.1);
  -moz-box-shadow: 0px 0px 45px 3px rgba(45, 255, 196, 0.1);
}

.section {
  width: 100%;
  min-height: 100vh;
  /* background-color: #ddd; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  color: #e2c7c4;
  font-weight: 400;
  font-family: monoton;
  text-shadow: #e2c7c4 0px 0px 39px;
}

/* Style for each content section */
.content-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  /* Adjust the margin as needed */
}

/* Style for the image section */
.image-section {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  box-sizing: border-box;
  font-size: 18px;
  /* Adjust the margin between image and content */
}

.image-section,
.content {
  flex: 1;
  /* Equal division of space */
}

.image-section img {
  display: flex;
  width: 265px;
  height: auto;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0px 0px 80px 3px #fbe4d8;
}

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  color: #65fcf0;
  margin: 1.8rem 0rem;
  text-shadow: #65fcf0 0px 0px 39px;
}

.content-section .content p {
  margin-top: 10px;
  font-family: kanit;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #fcebe3;
  flex: 1;
  padding: 20px;
  max-width: 1000px;
}

.content-section .content h2 {
  text-transform: uppercase;
  font-size: 35px;
  font-family: Montserrat bold;
  color: #e2c7c4;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.945px;
  margin: 1.8rem 1rem;
  text-shadow: #e2c7c4 0px 0px 39px;
}

.content-section .content .button {
  margin-top: 30px;
  margin-left: 17px;
}

.content-section .content .button a {
  font-family: Kanit;
  padding: 11px 33px;
  text-decoration: none;
  font-weight: 800;
  font-size: 21px;
  letter-spacing: 1.5px;
  border-radius: 8px;
  display: inline-block;
  color: white;
  transition: 0.5s;
  background: linear-gradient(95deg, #85456c 17.2%, #dfb6b2 94.51%),
    linear-gradient(95deg, #85456c 17.2%, #dfb6b2 82.89%, #fbe4d8 98.55%);
  box-shadow: 0px 1px 22px 30px rgba(0, 0, 0, 0.12);
}

.content-section .content .button a:hover {
  transform: scale(1.05);
  box-shadow: 0px 1px 10px 5px rgba(236, 105, 253, 0.39);
}

.content-section .social {
  margin: 40px 40px;
}

.content-section .social i {
  color: #fbe4d8;
  color: linear-gradient(
    54deg,
    rgba(101, 252, 240, 1) 63%,
    rgba(149, 144, 229, 1) 100%,
    rgba(101, 252, 240, 1) 100%
  );
  font-size: 33px;
  padding: 0px 9px;
  transition: 0.3s;
}
.content-section .social i:hover {
  transform: scale(1.1);
  color: #66284e;
}

.button-social-container {
  display: inline-block;
  /* Display containers inline */
  vertical-align: middle;
  /* Align containers vertically in the middle */
  margin-bottom: 10px;
  /* Add vertical spacing between button and social icon pairs */
}

@media screen and (max-width: 768px) {
  .home {
    padding: 15rem 1rem 5rem 1rem !important;
  }

  .content p {
    font-size: 20px !important;
  }

  .sponsor-p {
    margin: 0px !important;
  }

  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }

  .content-section {
    float: none;
    width: 100%;
    display: flex;
    margin: auto;
  }

  .image-section {
    float: none;
    width: 100%;
  }

  .image-section img {
    width: 150px;
    height: auto;
    display: block;
    margin: auto;
  }

  .content-section .title {
    text-align: center;
    font-size: 19px;
    color: #fbe4d8;
  }

  .content-section .content .button {
    text-align: center;
  }

  .content-section .content .button a {
    padding: 9px 30px;
  }

  .content-section .social {
    text-align: center;
  }

  .nav-title {
    font-size: 1.5rem;
    gap: 0.2rem;
  }

  .nav-title img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
  }
}

.tracks-section {
  min-height: 100vh;
  padding: 100px 15px;
}

/* ---------------------------------------------TimeLine---------------------------------------------------- */

#timeline {
  margin-top: 10rem;
  margin-bottom: 10rem;
  overflow: hidden;
}

.timeline-title {
  text-shadow: #e2c7c4 0px 0px 40px;
  /* text-align: center; */
  margin: 30px auto;
  /* font-family: "kanit", sans-serif; */
  /* font-weight: 500; */
  color: #e2c7c4;
  text-align: center;
  margin-left: 50px;
  font-family: monoton;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 40px;
}

/* .timeline-items {
  width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #65fcf0;
  left: calc(50% - 1px);
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 22px;
  color: #000000;
  margin: 6px 0 15px;
  border: 4px solid white;
  text-align: center;
  border-radius: 5px;
  /* animation: lightson 0.5s ease 3 forwards; */
/* opacity: 1;
  text-shadow: 0px 0px 5px #dfb6b2, 0px 0px 10px #dfb6b2, 1px 1px 50px #dfb6b2;
  box-shadow: 0px 0px 10px 0px #dfb6b2, 0px 0px 30px 0px #dfb6b2, 0px 0px 100px 0px #dfb6b2, inset 0px 0px 30px #dfb6b2;

}  */
/* @keyframes lightson {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 0px #dfb6b2, 0px 0px 0px #dfb6b2, 0px 0px 0px #dfb6b2;
    box-shadow: 0px 0px 10px 0px #dfb6b2, 0px 0px 30px 0px #dfb6b2,0px 0px 100px 0px #dfb6b2, inset 0px 0px 30px #dfb6b2;
  }
  20% {
    opacity: 0.5;
    text-shadow: 0px 0px 2.5px #dfb6b2, 0px 0px 5px #dfb6b2, 1px 1px 25px #dfb6b2;
    box-shadow: 0px 0px 10px 0px #dfb6b2, 0px 0px 30px 0px #dfb6b2, 0px 0px 100px 0px #dfb6b2, inset 0px 0px 30px #dfb6b2;
  }
  40% {
    opacity: 0;
    text-shadow: 0px 0px 1px #dfb6b2, 0px 0px 2px #dfb6b2, 0px 0px 10px #dfb6b2;
    box-shadow: 0px 0px 10px 0px #dfb6b2, 0px 0px 30px 0px #dfb6b2, 0px 0px 100px 0px #dfb6b2, inset 0px 0px 30px #dfb6b2;
  }
  50% {
    opacity: 1;
    text-shadow: 0px 0px 5px #dfb6b2, 0px 0px 10px #dfb6b2, 1px 1px 50px #dfb6b2;
    box-shadow: 0px 0px 10px 0px #dfb6b2, 0px 0px 30px 0px #dfb6b2, 0px 0px 100px 0px #dfb6b2, inset 0px 0px 30px #dfb6b2;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 5px #dfb6b2, 0px 0px 10px #dfb6b2, 1px 1px 50px #dfb6b2;
    box-shadow: 0px 0px 10px 0px #dfb6b2, 0px 0px 30px 0px #dfb6b2, 0px 0px 100px 0px #dfb6b2, inset 0px 0px 30px #dfb6b2;
  }
} */
/* .timeline-content {
  background-color: #7ed6df;
  
  background-image: linear-gradient(315deg, #7ed6df 0%, #000000 74%);
  -webkit-box-shadow: 0px 0px 60px 3px rgba(70, 70, 70, 0.51);
  -moz-box-shadow: 0px 0px 60px 3px rgba(70, 70, 70, 0.51);
  box-shadow: 0px 0px 60px 3px rgba(70, 70, 70, 0.51);
  padding: 30px;
  border-radius: 5px;
}
.timeline-content h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "kanit", sans-serif;
  line-height: 2rem;
}
.timeline-content img {
  width: 70%;
  height: 70%;
  display: flex;
  border-radius: 10px;
  margin: 20px auto;
  justify-content: center;
}
.timeline-content p {
  color: #c8c8c8;
  font-size: 16px;
  font-weight: 300;
  /* line-height: 22px; */
/* font-family: "catamaran", sans-serif;
}

/* responsive 
@media (max-width: 767px) {
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
}  */

/*---------------------------------------- NEW TIMELINE---------------------------------------------------- */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul {
  margin-bottom: 2rem;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #eee;
  box-shadow: 0px 0px 10px 0px #dfb6b2, 0px 0px 30px 0px #dfb6b2,
    0px 0px 50px 0px #dfb6b2, inset 0px 0px 30px #dfb6b2;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(212, 64, 175, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
}

.timeline ul li div time {
  position: absolute;
  background: rgba(58, 58, 58, 0.377);
  color: #ffffff;
  font-weight: 500;
  width: 200px;
  height: 32px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  border: 4px solid white;
  text-align: center;
  /* text-shadow: 0px 0px 0px #dfb6b2, 0px 0px 0px #dfb6b2, 0px 0px 0px #dfb6b2; */
  box-shadow: 0px 0px 10px 0px #dfb6b2, 0px 0px 30px 0px #dfb6b2,
    0px 0px 80px 0px #dfb6b2, inset 0px 0px 30px #dfb6b2;
  /* animation: lightson 0.5s ease 3 forwards; */
}

/* @keyframes lightson {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 0px #dfb6b2, 0px 0px 0px #dfb6b2, 0px 0px 0px #dfb6b2;
    box-shadow: 0px 0px 0px 0px #dfb6b2, 0px 0px 0px 0px #dfb6b2,
      0px 0px 0px 0px #dfb6b2, inset 0px 0px 0px #dfb6b2;
  }
  20% {
    opacity: 0.5;
    text-shadow: 0px 0px 2.5px #dfb6b2, 0px 0px 5px #dfb6b2,1px 1px 25px #dfb6b2;
    box-shadow: 0px 0px 5px 0px #dfb6b2, 0px 0px 10px 0px #dfb6b2,
      0px 0px 50px 0px #dfb6b2, inset 0px 0px 20px #dfb6b2;
  }
  40% {
    opacity: 0;
    text-shadow: 0px 0px 1px #dfb6b2, 0px 0px 2px #dfb6b2, 0px 0px 10px #dfb6b2;
    box-shadow: 0px 0px 2px 0px #dfb6b2, 0px 0px 5px 0px #dfb6b2,
      0px 0px 25px 0px #dfb6b2, inset 0px 0px 10px #dfb6b2;
  }
  50% {
    opacity: 1;
    text-shadow: 0px 0px 5px #dfb6b2, 0px 0px 10px #dfb6b2, 1px 1px 50px #dfb6b2;
    box-shadow: 0px 0px 10px 0px #dfb6b2, 0px 0px 20px 0px #dfb6b2,
      0px 0px 100px 0px #dfb6b2, inset 0px 0px 30px #dfb6b2;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 5px #dfb6b2, 0px 0px 10px #dfb6b2, 1px 1px 50px #dfb6b2;
    box-shadow: 0px 0px 10px 0px #dfb6b2, 0px 0px 30px 0px #dfb6b2,
      0px 0px 100px 0px #dfb6b2, inset 0px 0px 30px #dfb6b2;
  }
} */

.events-title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "catamaran", sans-serif;
  letter-spacing: 1px;
  color: #fff;
  margin: 20px;
  padding: 2px;
}

.timeline ul li div div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline ul li div div p {
  text-align: center;
}

.timeline ul li div .discovery {
  margin-right: 10px;
}

.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}

.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
    flex-direction: column;
  }

  .timeline ul li div div {
    width: 80%;
    margin: 10px;
  }

  .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  }

  .flex-container {
    flex-direction: column !important;
    padding: 20px !important;
  }

  .flex-item {
    font-size: 30px !important;
    line-height: 34px !important;
    padding: 40px !important;
  }

  .flex-item > div > svg {
    width: 40px;
    height: 40px;
  }

  .devcont {
    width: auto !important;
  }

  #timelime {
    padding: 0px 30px 0px 30px !important;
  }

  .content-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
}

.section-heading {
  color: #e12836;
  margin: 3.5rem 0rem 0.5rem 2.5rem;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 3.5rem;
  display: inline-block;
}

.section-heading:hover {
  text-decoration: underline;
  color: white;
  transition: 1s;
}

.query {
  margin: 2rem 0rem;
}

.query ul li {
  list-style: none;
  margin: 0;
}

.ques {
  color: #e12836;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.ans {
  color: white;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem 0rem;
}

.grad-sponsor {
  background-image: linear-gradient(
    167deg,
    rgb(1, 1, 15) 0%,
    rgb(2, 1, 26) 48%,
    rgb(2, 1, 26) 100%
  );
}

.sponsor-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.sponsor-p {
  color: white;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 1.5rem;
  margin: 2.5rem 2.5rem;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.sponsor-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.sponsor-item img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.Specialtracks-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 4rem 2rem;
}

.Specialtracks-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.Specialtracks-pic img {
  width: 300px;
  height: 200px;
}

.Specialtracks-about {
  margin: 2rem;
}

.Specialtracks-about-heading {
  color: #e12836;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

.Specialtracks-about-para {
  color: white;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.tracks-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 4rem 2rem;
}

.track-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.track-pic img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  object-fit: contain;
}

.track-about {
  margin: 2rem;
}

.track-about-heading {
  color: #e12836;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 2rem;
  text-align: center;
  /* text-decoration: underline; */
}

.track-about-para {
  color: white;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

footer {
  display: block;
  flex-direction: row;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  background: linear-gradient(180deg, #1b0a19 0%, #010009 95.83%);
}

#contact {
  color: white;
  background-color: #000000;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.social-icons a {
  color: rgb(202, 202, 202);
  margin-right: 5px;
  margin-left: 10px;
  /* Add margin between social icons */
}

.social-icons a:nth-child(3) {
  margin-right: 30px;
}

.footer-left,
.footer-right {
  width: 200%;
}

.footer-left {
  display: block;
}

.footer-right {
  display: flex;
  flex-direction: row;
}

.footer-col {
  flex: 1;
  margin-right: 40px;
}
.footer-col h4 {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin-bottom: 2px;
  color: #dfb6b2;
}

.footer-left h1 {
  font-family: "kanit", sans-serif;
  font-weight: bold;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  text-align: left; /* Align text to the left within <ul> */
}

.footer-col ul li {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #fbe4d8;
  display: block;
  transition: all 0.3s ease;
  margin-bottom: 2px; /* Optional: Add some space between list items */
}

.footer-col ul li:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-top: 19rem;
    display: column;
  }

  .footer-col h4 {
    display: row;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    display: block;
  }
}

.image-row img {
  width: 100px;
  height: 100px;
  margin-left: 19px;
  border-radius: 50%;
  display: inline-block;
  /* Set images to display inline */
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  /* Add margin for spacing between images */
  -webkit-box-shadow: 0px 0px 189px 3px rgba(0, 255, 255, 0.51);
  -moz-box-shadow: 0px 0px 189px 3px rgba(0, 255, 255, 0.51);
  box-shadow: 0px 0px 189px 3px rgba(0, 255, 255, 0.51);
}

@media (max-width: 768px) {
  .image-row img {
    width: 100px;
    /* Decrease image size for smaller screens */
    margin-right: 20px;
    display: block;
    margin-right: 70px;
    /* Decrease margin between images */
  }

  .social-icons a {
    margin: 0 6px;
    display: justify;
    /* Decrease margin between social icons */
  }

  #contact {
    padding: 5px 10px 5px 10px;
    display: flex;
  }
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-links ul li {
    text-align: center;
  }

  .nav-links ul li a {
    padding: 0.5rem 1rem;
  }

  .nav-links.active {
    display: flex;
  }
}

@media (max-width: 600px) {
  .sponsor-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .home {
    margin: 0;
  }

  .home-heading {
    font-size: 1.8rem;
  }

  .home-para {
    font-size: 0.9rem;
  }

  .tracks-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 1rem 0.5rem;
  }

  .track-about {
    margin: 0.5rem;
  }

  .track-pic {
    margin: 0.5rem;
  }

  .track-about-heading {
    font-size: 2rem;
  }

  .track-about-para {
    font-size: 1.2rem;
  }

  #Events {
    padding: 0px 20px 0px 20px;
  }
}

#Events {
  padding: 0px 20px 0px 20px;
}

@media (max-width: 980px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10rem 3rem 3rem 3rem;
  }

  .left-home {
    align-items: center;
  }
}

#particles-js {
  position: absolute;
  top: 0;
  width: 100%;
}

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

.profiles {
  height: 200%;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
}

.profilee-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
}

.profile-p {
  color: white;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 1.5rem;
  margin: 2.5rem 2.5rem;
}

.card {
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  transition: 0.8s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card .img {
  height: 200px;
  width: 200px;
}

.img-mentor img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* .card .top-text {
  padding: 5px;
  height: 40px;
  
} */

.card .top-text .name {
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 53, 97);
}

.card .top-text p {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  line-height: 20px;
}

.card .bottom-text {
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  /* background: white; */
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
}

.profile-p {
  color: white;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 1.5rem;
  margin: 2.5rem 2.5rem;
}

.card {
  width: 641.754px;
  height: 346.823px;
  flex-shrink: 0;
  transition: 0.8s;
  margin: 15px;
  border-radius: 40px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(180deg, #66284e 0%, rgba(102, 40, 78, 0) 100%);
  backdrop-filter: blur(7px);
  box-shadow: 1px 2px 10px 0px rgba(251, 228, 216, 0.5),
    -1px -4px 29px 0px rgba(255, 255, 255, 0.3);
  /*box-shadow: 2px 2px 5px rgba(0,0,0,0.2);*/
  /* box-shadow: 0px 0px 60px 3px rgba(65, 65, 65, 0.51); */
}

.card .img {
  height: 200px;
  width: 200px;
}

.img-mentor img {
  width: 245px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 100%;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
  padding: 20px;
}

.card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .top-text {
  padding: 5px;
  height: 31%;
  border-radius: 0 0 40px 40px;
  /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%), linear-gradient(180deg, #66284E 0%, rgba(102, 40, 78, 0.00) 100%);; */
  background: #1f222b;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-position: cover;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.card .top-text .name {
  font-size: 25px;
  font-weight: 600;
  color: #fbe4d8;
  font-family: kanit;
  text-align: center;
  padding-top: 10px;
  font-style: normal;
  letter-spacing: 0.63px;
  text-transform: uppercase;
}

.card .top-text p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 32px;
  text-align: center;
  font-family: Kanit;
  font-style: normal;
  letter-spacing: 0.42px;
}

.card .bottom-text {
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  /* background: white; */
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}

@media screen and (max-width: 980px) {
  .profile-container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .card {
    width: auto;
    margin: 20px 0;
  }

  .card .img {
    height: 200px;
    width: 100%;
  }

  .profile-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .profilee-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  #FAQ {
    padding: 0px 20px 0px 20px;
  }

  .grad-sponsor {
    padding: 0px 20px 0px 20px;
  }

  .sponsor-p {
    padding: 0;
  }

  #Events {
    padding: 0px 20px 0px 20px;
  }
}

/* -------------------------------------------FAQ------------------------------------------------------------ */

#FAQ {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.title {
  font-size: 50px;
  text-align: center;
  font-family: monoton;
  /*font-weight: bold;*/
  margin-top: 80px;
  margin-bottom: 60px;
  letter-spacing: 1.5px;
  color: #e2c7c4;
  text-shadow: #e2c7c4 0px 0px 40px;
}

.question {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.question.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.questions-container {
  max-width: 1000px;
  margin: 0 auto;
}

.question button {
  width: 100%;
  background-color: #031e22;
  padding: 20px 15px;
  text-align: left;
  border: none;
  outline: none;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  font-family: "catamaran", sans-serif;
  letter-spacing: 0.6px;
  background: rgba(57, 47, 61, 0.1);
  box-shadow: 0 8px 10px 0 rgba(243, 136, 247, 0.425);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  /* border: 1px solid rgb(112, 74, 104); */
}

.fas {
  float: right;
  margin-right: 30px;
}

.question p {
  font-size: 22px;
  max-height: 0;
  opacity: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.6s ease;
  color: lightgrey;
  font-family: "catamaran", sans-serif;
  letter-spacing: 0.6px;
  margin: 1.5rem auto;
}

.d-arrow {
  transition: transform 0.5s ease-in;
  color: #fff;
}

/*add this class when click*/
.question p.show {
  max-height: 200px;
  opacity: 1;
  padding: 0px 15px 30px 15px;
}

.question button .d-arrow.rotate {
  transform: rotate(180deg);
}

.eventstitle {
  color: #fbe4d8;
  font-size: 45px;
  text-shadow: #fbe4d8 0px 0px 40px;
  text-align: center;
  font-family: monoton;
  font-weight: 400;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  margin-bottom: 40px;
  cursor: pointer;
}

.eventtagline {
  color: #fbe4d8;
  font-size: 30px;
  text-shadow: #ffdac6 0px 0px 39px;
  text-align: center;
  margin-left: 15px;
  font-family: monoton;
  font-weight: 400;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.devcont {
  /* background-image: linear-gradient(360deg, #97d6dd 0%, #242424 54%);
  -webkit-box-shadow: 0px 0px 60px 3px rgba(70, 70, 70, 0.51);
  -moz-box-shadow: 0px 0px 60px 3px rgba(70, 70, 70, 0.51);
  box-shadow: 0px 0px 60px 3px rgba(70, 70, 70, 0.51); */
  border-radius: 40px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(180deg, #66284e 0%, rgba(102, 40, 78, 0) 100%);
  box-shadow: 1px 4px 29px 0px rgba(251, 228, 216, 0.5),
    -1px -4px 29px 0px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(7px);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px auto;
  width: 625px;
  animation: fadeIn 4s;
  transition: ease-out 0.3s;
  backdrop-filter: blur(20px);
  cursor: pointer;
}

.devcont:hover {
  transition-duration: 140ms;
  box-shadow: 0 5px 20px 5px #fbe4d8;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.devtitle {
  color: #fbe4d8;
  font-size: 30px;
  text-shadow: #fbe4d8 0px 0px 39px;
  text-align: center;
  font-family: Monoton;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.675px;
  font-size: 40px;
  text-shadow: #b6b6b6 0px 0px 39px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.devintro {
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  font-family: "kanit";
  font-weight: 500;
  margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
  .devcont {
    width: auto;
  }

  .devtitle {
    font-size: 20px;
  }

  .devintro {
    font-size: 14px;
  }
}

.devcont {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.devcont.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* ---------------------------------NEW CONTACT US ----------------------------------------------------- */

.contact {
  margin: 10rem auto;
  margin-bottom: 14rem;
}
.contactBox {
  display: flex;
  width: 90%;
}

.contactContainer {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(180deg, #66284e 0%, rgba(102, 40, 78, 0) 100%);
  backdrop-filter: blur(7px);
  box-shadow: 1px 2px 10px 0px rgba(251, 228, 216, 0.5),
    -1px -4px 29px 0px rgba(255, 255, 255, 0.3);
  width: 400px;
  height: auto;
  border-radius: 20px;
  margin: 2rem auto;
  transition: 0.5s;
}
.contactContainer:hover {
  transform: scale(1.04);
  box-shadow: 1px 2px 10px 0px rgba(245, 150, 248, 0.5),
    -1px -4px 29px 0px rgba(245, 150, 248, 0.5);

}

.contactTitle {
  color: #fff;
  display: flex;
  text-align: center;
  font-family: Kanit;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.675px;
  margin-top: 20px;
  height: 40%;
}

.socials {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 38%;
  background: #1f222b;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  flex-wrap: wrap;
  margin-top: 80px;
  border-radius: 0 0 20px 20px;
}
.contactContainer a {
  font-size: 30px;
  color: white;
  margin: 0 40px;
  float: bottom;
  margin-top: 10px;
  padding-top: 5px;
  transition: 0.3s;
}
.contactContainer a:hover {
  transform: scale(1.1);
  color: #e2c7c4;
}

.email {
  color: #fff;
  font-family: kanit;
  font-size: 28px;
  margin: 10px auto;
}

@media screen and (max-width: 500px){
  body{
    background-color: red;
  }
}